<% if @gists.count > 0 %>

<% @gists.each do |g| %>
<div class="well">
  <h5><%= link_to "Gist: #{g.gid}", gists_show_path(g) %></h5>
  <p><%= g.description %></p>
  <%= link_to "GitHub", g.html_url, target: "_blank" %>
</div>
<% end %>

<% else %>

<div class="well">
  <p>Gists are not synchronized.</p>
</div>

<% end %>