body {
  padding: 10px;
}

a {
  color: #79accd;
  text-decoration: none;
}

ul#grid-content {
  list-style-type: none;

  li {
    width: 330px;
    background-color: #E0F8FF;
    margin: 10px;
    padding: 5px;
  }
}

.navbar-inner {
  background: #fff;
  border: 0;
  box-shadow: none;
}

footer .footer-border {
  margin-top: 30px;
  border-top: 1px solid #ddd;
}

footer .row {
  margin-top: 16px;
}

footer .copylight {
  text-align: center;
  color: #aaa;
}